<%- include('../partials/head.ejs')  %> 

    <div class="container mt-3">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card card-body">
					<h2>Create New Account</h2>
					<form action="/playground/validator" method="POST" class="p-3">
						<div class="form-group">
							<label for="validationServer01" class="form-label">User Name (must be unique)</label>
							<input type="text" class="form-control is-valid" id="validationServer01" name="username">
							<div class="valid-feedback">
								Looks good!
							</div>
						</div>
						<div class="form-group">
						  <label for="validationServer02" class="form-label">Email (must be valid)</label>
						  <input type="email" class="form-control is-valid" id="validationServer02" name="email">
						  <div class="valid-feedback">
							Looks good!
						  </div>
						</div>
						<div class="form-group">
							<label for="validationServer02" class="form-label">Password (must be strong)</label>
							<input type="password" class="form-control is-valid" id="validationServer02" name="password">
							<div class="valid-feedback">
							  Looks good!
							</div>
						</div>
						<div class="form-group">
							<label for="validationServer02" class="form-label">Confirm Password</label>
							<input type="password" class="form-control is-valid" id="validationServer02" name="confirmPassword">
							<div class="valid-feedback">
							  Looks good!
							</div>
						  </div>
						<div class="col-12">
						  <button class="btn btn-primary" type="submit">Sine Up</button>
						</div>
					</form>
					<center><a href="/auth/sinein" class="my-3">You have account?Please Sine In</a></center>
				</div>
			</div>
		</div>
    </div>

<%- include('../partials/footer.ejs')  %> 
    
</body>
</html>